/* Google Fonts Import Link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #121827;
    border: 2px solid #1e2431;
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar.close {
    width: 78px;
}

.sidebar .logo-details {
    padding: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i {
    z-index: 1;
    font-size: 30px;
    color: #008df2;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details img {
    margin-right: 100px;
    height: 35px;
}

.sidebar .bx-menu {
    cursor: pointer;
}

.sidebar .bx-menu:hover {
    opacity: 50%;
}

.sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    background: #1d1b31;
}

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
    display: block
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #008df2;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu .sub-nav-links-active a {
    color: #008df2;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.nav-links-active {
    border-left: 4px solid #008df2;
}

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    background: none;
}

.sidebar.close .profile-details {
    width: 78px;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
    padding: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}

.sidebar .profile-details .job {
    font-size: 12px;
}

.home-section {
    position: absolute;
    background: #1f2b46;
    min-height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.home-section .content {
    padding: 30px;
    margin: 20px;
    margin-top: 180px;
    background-color: #0a0e17;
    border-radius: 20px;
    color: white;
    text-align: center;
    align-items: center;
    width: 97%;
}

.home-section .content button {
    margin-left: 0px;
    background-color: #008DF2;
    color: #FFFFFF;
    margin-top: 30px;
    width: 110px;
    height: 40px;
    font-weight: bold;
    border-radius: 18px;
    border: 1px solid #008DF2;
}

.home-section .content button:hover {
    opacity: 50%;
    cursor: pointer;
}

.home-section footer {
    position: sticky;
    bottom: 0px;
    left: 0px;
    top: 100;
    width: 100%;
    padding: 13.5px;
    background-color: #121827;
    align-items: center;
    display: flex;
    color: white;
    border: 2px solid #1e2431;
}

.home-section footer p {
    font-weight: bold;
    margin-left: 35%;
}

.home-section footer button {
    background-color: #008DF2;
    cursor: pointer;
    color: #FFFFFF;
    width: 150px;
    height: 40px;
    font-weight: bold;
    border-radius: 18px;
    border: 1px solid #008DF2;
}

.home-section footer button:hover {
    opacity: 50%;
}

.home-section button {
    margin-left: 30px;
}

.sidebar.close~.home-section {
    left: 78px;
    width: calc(100% - 78px);
}

.header {
    background-color: #121827;
    border: 2px solid #1e2431;
    z-index: 1000000;
}

.header #myBtn {
    background-color: #008DF2;
    cursor: pointer;
    color: #FFFFFF;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    width: 110px;
    height: 40px;
    font-weight: bold;
    border-radius: 18px;
    border: 1px solid #008df2;
}

.header #myBtn:hover {
    opacity: 50%;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 150px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #1e2431;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 20%;
    height: 70%;
}

.modal-content hr {
    width: 100%;
    border: 0.5px solid;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modal-content .wallet-metamask button {
    width: 100%;
    padding-left: 1rem;
    text-align: center;
    align-items: center;
    display: flex;
    height: 45px;
    cursor: pointer;
    background-color: #2d2f37;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bolder;
    border-radius: 18px;
    border: 1px solid #008df2;
}

.modal-content .wallet-metamask button:hover {
    opacity: 50%;
}

.modal-content .wallet-metamask img {
    width: 10%;
    margin-left: 8.1rem;
}

.modal-content .wallet-trustwallet button {
    width: 100%;
    padding-left: 1rem;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    height: 45px;
    cursor: pointer;
    background-color: #2d2f37;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bolder;
    border-radius: 18px;
    border: 1px solid #008df2;
}

.modal-content .wallet-trustwallet button:hover {
    opacity: 50%;
}

.modal-content .wallet-trustwallet img {
    width: 10%;
    margin-left: 7.7rem;
}

.modal-content .wallet-mathwallet button {
    width: 100%;
    padding-left: 1rem;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    height: 45px;
    cursor: pointer;
    background-color: #2d2f37;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bolder;
    border-radius: 18px;
    border: 1px solid #008df2;
}

.modal-content .wallet-mathwallet button:hover {
    opacity: 50%;
}

.modal-content .wallet-mathwallet img {
    width: 10%;
    margin-left: 7.7rem;
}

.modal-content .wallet-tokenpocket button {
    width: 100%;
    padding-left: 1rem;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    height: 45px;
    cursor: pointer;
    background-color: #2d2f37;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bolder;
    border-radius: 18px;
    border: 1px solid #008df2;
}

.modal-content .wallet-tokenpocket button:hover {
    opacity: 50%;
}

.modal-content .wallet-tokenpocket img {
    width: 10%;
    margin-left: 6.7rem;
}

.modal-content .wallet-connect button {
    width: 100%;
    padding-left: 1rem;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    height: 45px;
    cursor: pointer;
    background-color: #2d2f37;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bolder;
    border-radius: 18px;
    border: 1px solid #008df2;
}

.modal-content .wallet-connect button:hover {
    opacity: 50%;
}

.modal-content .wallet-connect img {
    width: 10%;
    margin-left: 6rem;
}

.modal-content .wallet-binance button {
    width: 100%;
    padding-left: 1rem;
    margin-top: 10px;
    margin-bottom: 0.3rem;
    text-align: center;
    align-items: center;
    display: flex;
    height: 45px;
    cursor: pointer;
    background-color: #2d2f37;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bolder;
    border-radius: 18px;
    border: 1px solid #008df2;
}

.modal-content .wallet-binance button:hover {
    opacity: 50%;
}

.modal-content .wallet-binance img {
    width: 17%;
    margin-left: 3rem;
}

.modal-content .learn {
    margin-left: 3.3rem;
    color: #008df2;
    font-size: 15px;
    text-decoration: none;
}

.modal-content .learn:hover {
    opacity: 50%;
}


/* The Close Button */

.closee {
    color: #008df2;
    margin-top: -0.5rem;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closee:hover,
.closee:focus {
    opacity: 50%;
    text-decoration: none;
    cursor: pointer;
}

.header .home-content .bx-menu {
    font-size: 0px;
    z-index: -1;
}

.header img {
    width: 0;
}

.header .home-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.header .home-content .bx-menu,
.header .home-content .text {
    color: white;
    font-size: 35px;
}

.header .home-content .bx-menu {
    margin-left: 20px;
    cursor: pointer;
}

.header .home-content .text {
    font-size: 26px;
    font-weight: 600;
}

.main-container {
    padding: 30px;
}


/* HEADING */

.heading {
    color: white;
    font-size: 20px;
    text-align: left;
}

.heading__title {
    font-weight: 600;
}

.tab-line hr {
    border-color: #121827;
}

.tab-line {
    display: flex;
    flex-wrap: wrap;
}

.tab-line input[type="radio"] {
    display: none;
}

.tab-line label {
    padding: 25px;
    color: #fff;
    font-weight: 400;
    order: 0;
}

.tab-line .tabAll {
    margin-left: 36%;
}

.tab-line label:hover {
    color: #008df2;
    transition: all 0.5s ease;
}

.tab-line .tabcontent {
    width: 100%;
    order: 1;
    display: none;
}

.tab-line input[type='radio']:checked+label+.tabcontent {
    display: block;
}

.tab-line input[type="radio"]:checked+label {
    border-bottom: 1px solid #008df2;
    color: #008df2;
}

.tab-line .tabcontent .noData {
    color: #fff;
    margin-left: -4rem;
    text-align: center;
}

.tab-line .tabcontent hr {
    border-color: #121827;
}

.func {
    display: flex;
    margin-bottom: 1rem;
}

.search input {
    border: 1px solid gray;
    border-radius: 40px;
    width: 932px;
    padding: 8px;
    text-align: left;
}

.search input:hover {
    border: 1px solid;
    border-color: #008df2;
    transition: all 0.5s ease;
}

.filterBy {
    margin-top: -1.5em;
    margin-left: 1.5rem;
    float: right;
}

.filterBy label {
    margin-left: -1.4rem;
    color: #fff;
}

.filterBy select {
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 40px;
    padding: 8px;
}

.filterBy select:hover {
    border: 2px solid;
    border-color: #008df2;
    transition: all 0.2s ease;
}

.sortBy {
    margin-top: -1.5em;
    margin-left: 1.5rem;
    float: right;
}

.sortBy label {
    margin-left: -1.4rem;
    color: #fff;
}

.sortBy select {
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 40px;
    padding: 8px;
}

.sortBy select:hover {
    border: 2px solid;
    border-color: #008df2;
    transition: all 0.2s ease;
}

.heading__credits .heading__link {
    color: inherit;
}


/* CARDS */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 450px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
}

.card__link:hover::after {
    width: 100%;
}

.card__exit {
    grid-row: 1/2;
    justify-self: end;
}

.card__icon img {
    grid-row: 2/3;
    width: 50px;
    margin-top: -1rem;
}

.card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #000;
}

.card__c {
    grid-row: 4/5;
    font-weight: 400;
    color: gray;
}

.card__s-hCap {
    margin-top: -1rem;
    grid-row: 5/6;
    font-weight: 500;
    color: #000;
}

.card__cap {
    grid-row: 6/7;
    font-weight: 500;
    color: #008df2;
}

.skill-bars .bar {
    grid-row: 7/8;
    margin: 20px 0;
}

.skill-bars .bar:first-child {
    margin-top: 0px;
}

.skill-bars .bar .info {
    margin-bottom: 5px;
}

.skill-bars .bar .info span {
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.skill-bars .bar .progress-line {
    height: 10px;
    width: 100%;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.bar .progress-line span {
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #60efbc;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line.html span {
    width: 90%;
}

.num {
    font-size: 12px;
    font-weight: 600;
    color: gray;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
    grid-row: 8/8;
    display: flex;
}

.num1 {
    padding-left: 23.2rem;
}

.num2 {
    padding-left: 14.2rem;
}

.Liquidity {
    grid-row: 9/9;
    display: flex;
}

.Liquidity h4 {
    font-weight: 500;
}

.Liquidity .percent {
    color: gray;
    margin-left: 73.5%;
}

.lock-up {
    display: flex;
    margin-bottom: 1.3rem;
}

.lock-up h4 {
    font-weight: 500;
}

.lock-up .days {
    color: gray;
    margin-left: 60.7%;
}

hr {
    border: 0.5px solid gray;
}

.saleSorE {
    margin-top: 1.2rem;
    display: block;
}

.card__apply {
    color: black;
    grid-row: 9/9;
    align-self: center;
}

.view-More {
    float: right;
    background-color: #008DF2;
    color: #FFFFFF;
    width: 110px;
    height: 40px;
    font-weight: bold;
    border-radius: 18px;
    border: 1px solid #008DF2;
}

.view-More:hover {
    opacity: 50%;
    cursor: pointer;
}


/* CARD BACKGROUNDS */

.card-1 {
    background: #fff;
}

.card-2 {
    background: #fff
}

.card-3 {
    background: #fff
}

.card-4 {
    background: #fff;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #008df2;
}


/* RESPONSIVE */

@media (max-width: 1600px) {
    .cards {
        justify-content: center;
    }
}

@media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }
}